@page "/"

<h1>Hello,</h1>
<h2>This Rock Paper Scissors bot competition!</h2>

<ol>
    <li>Build your bots and expose them through <a href="https://github.com/magnuswiderberg/rpsbots/wiki/Bot-API-version-1.0">this API</a></li>
    <li><NavLink href="newgame">Create a new game</NavLink> and let them fight each other</li>
</ol>
